@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Braddington';
  font-style: italic;
  font-weight: 400;
  src: local('Braddington Italic'), url('/fonts/Braddington Italic.otf') format('otf');
}
@font-face {
  font-family: 'Braddington';
  font-style: normal;
  font-weight: 400;
  src: local('Braddington'), url('/fonts/Braddington.otf') format('otf');
}

#firstSection { 
  background: url('/static/images/School-of-athens2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}